.floatingbutton {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
    background-color: #43284E;
    border-color: transparent;
    width: 178px;
    height: 60px;
    border-radius: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 2;
}

.floatingbutton:hover {
/*     transform: scale(1.1);
    opacity: 0.8;  */
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

#logo {
    width: 70%;
    height: 70%;
}

#playIcon, #pauseIcon {
    margin-top: 6px;
    display: inline-flex; 
    width: 28px;   
    height: 28px;
    align-items: center;
    justify-content: center;
}

span {
    display: flex; 
    align-items: center;
    justify-content: center;
}
