        .news-wrapper {
            padding: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            /*min-height: 100vh;*/
            align-items: flex-start;
        }

        .news {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            box-shadow:
                rgba(27, 31, 35, 0.04) 0 1px 0,
                rgba(255, 255, 255, 0.25) 0 1px 0 inset;
            border: 1px solid rgba(27, 31, 35, 0.15);
            width: 20vw;
            height: 30vw;
            overflow: visible;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }



        .news:hover {
            transform: scale(0.98);

        }

        .news h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: center;
        }

        .news p {
            font-size: 0.85rem;
            line-height: 1.4;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;

            -webkit-box-orient: vertical;
        }

        .news-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .card-image-news {
  
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid rgba(27, 31, 35, 0.15);
            box-shadow:
                rgba(27, 31, 35, 0.04) 0 1px 0,
                rgba(255, 255, 255, 0.25) 0 1px 0 inset;
            width: 100%;
            height: 75%;
            border-radius: 8px;
            transition: transform 0.2s;
            margin-bottom: 0.5em;
            transition: 0, 5s;
        }

        .card-image-news:hover {
            transform: scale(0.98);
        }

        .title {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: 1400px) {
            .news-wrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .news-card {
                width: 80vw;
                height: 100vw;
            }
        }

        .news-card {
            background-color: #fafbfc;
            border: 1px solid rgba(27, 31, 35, 0.15);
            border-radius: 12px;
            box-shadow:
                rgba(27, 31, 35, 0.04) 0 1px 0,
                rgba(255, 255, 255, 0.25) 0 1px 0 inset;
            box-sizing: border-box;
            color: #24292e;
            padding: 0.8em;
            width: 20vw;
            height: 25vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .news-title {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            margin: 0.3em 0;
        }

        .news-description {
            color: #808080;
            font-weight: 100;
            font-size: clamp(0.6rem, 0.9vw, 0.8rem);
            margin: 0;
        }