.contenedorProg {
  padding: 20px;
  text-align: center; /* Centra el texto del contenedor */
}

.contenedorProg h1,
.contenedorProg p,
.contenedorProg h2 {
  color: black;
}

.temporadas {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra el dropdown dentro del contenedor */
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  background: #eee;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px; /* Tamaño reducido */
  font-size: 14px; /* Fuente un poco más pequeña */
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 150px;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.dropdown-content a:hover {
  background: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.mostrar {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
}

.mostrar button.prg {
  width: 100px;  
  height: 100px;  
  border: none;
  background-color: #ccc;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  font-size: 12px;
}

.frame {
  margin-top: 20px;
  padding: 50px;
  margin-bottom:20px;
}

.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
