.mostrar {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;  
  gap: 10px; 
  padding: 26px;
}

.prg {
  width: 110px;
  height: 110px;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  background-color: #f0f0f0;
  display: flex; 
  align-items: center;
  justify-content: center;
}

