.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
body.rtl #sp-top-bar .sp-module {
  margin: 0 20px 0 0;
}
body.rtl .sp-contact-info {
  float: left;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline li {
  margin: 0 0 0 5px;
}
body.rtl #offcanvas-toggler {
  float: left;
}
body.rtl #offcanvas-toggler >i {
  padding: 0 10px 0 0;
}
body.rtl .close-offcanvas {
  right: auto;
  left: 10px;
}
body.rtl .offcanvas-menu {
  -webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
  transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
  transition: all .7s !important;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  right: -40px;
}
body.rtl .body-innerwrapper:after {
  left: 0;
}
body.rtl .offcanvas-menu {
  left: -280px;
}
body.rtl .offcanvas-menu .offcanvas-inner {
  right: 0;
}
body.rtl.offcanvas .offcanvas-menu {
  left: 0px !important;
  right: initial;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  right: inherit;
  left: -40px;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler .fa-angle-right:before {
  content: "\f104";
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li a:after {
  left: inherit;
  right: -40px;
}
body.rtl .sp-megamenu-parent {
  float: left;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:after {
  position: absolute;
  left: 0;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:before {
  content: "";
  font-family: FontAwesome;
  margin-right: 5px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  float: left;
  content: " \f104";
}
body.rtl .sp-module ul >li >a:before {
  margin-right: 0;
  margin-left: 8px;
  content: "\f104";
  float: right;
}
body.rtl .entry-header.has-post-format {
  margin-left: 0;
  margin-right: 68px;
}
body.rtl .post-format {
  left: auto;
  right: -68px;
}
body.rtl .article-info >dt >i,
body.rtl .article-info >dd >i {
  margin-right: 0;
  margin-left: 3px;
}
body.rtl .entry-link:before {
  top: auto;
  left: auto;
  right: -60px;
  transform: rotate(-90deg);
}
body.rtl .entry-quote:before {
  left: auto;
  transform: rotate(-15deg);
  top: auto;
  right: -40px;
}
body.rtl .categories-list .page-header a.pull-right {
  float: left !important;
}
body.rtl .newsfeed-category .category li .pull-left {
  float: right !important;
}
body.rtl .search .btn-toolbar .pull-left {
  float: right !important;
}
body.rtl .macro-top-search .icon-top-wrapper {
  right: inherit;
  left: 0;
}
body.rtl .sp-megamenu-parent >li {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl #offcanvas-toggler >i {
  padding: 0 0 0 10px;
}
body.rtl .sppb-slider-wrapper {
  direction: ltr;
}
body.rtl .sppb-addon-feature .pull-left {
  float: right !important;
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .sppb-addon-feature .sppb-addon-text {
  text-align: right;
}
body.rtl .macro-core-service .sppb-feature-box-title {
  margin-left: 0;
  margin-right: 60px;
  text-align: right;
}
body.rtl .macro-skills-wrapper .sppb-addon-text-block h2.sppb-addon-title {
  text-align: right;
}
body.rtl .macro-skills-wrapper .sppb-addon-feature .sppb-icon {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
  float: right;
}
body.rtl .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
  margin-right: 0;
  margin-left: 30px;
}
body.rtl .sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle > div {
  text-align: right;
}
body.rtl .sppb-addon-articles .sppb-meta-date {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .sppb-article-meta {
  float: right;
}
body.rtl .sppb-addon-articles .sppb-meta-date i,
body.rtl .sppb-addon-articles .sppb-meta-category i,
body.rtl .sppb-addon-articles .sppb-meta-author i {
  margin-right: 0;
  margin-left: 8px;
}
body.rtl .sppb-testimonial-pro ol.sppb-carousel-indicators {
  margin-left: inherit;
  margin-right: -30%;
  left: inherit;
  right: 50%;
}
body.rtl .macro-subscribe-wrapper .acymailing_form .inputbox {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .macro-subscribe-wrapper .acymailing_form .acysubbuttons {
  float: right;
}
body.rtl ul.social-icons >li {
  margin-right: 0;
  margin-left: 160px;
}
body.rtl ul.social-icons >li:last-child {
  margin-left: 0;
}
body.rtl ul.social-icons >li a i {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .sppb-addon-text-block h2.sppb-addon-title {
  text-align: inherit;
}
body.rtl .sppb-addon-persion .sppb-person-social > li {
  margin: 0 0 0 20px;
}
body.rtl .sppb-addon-persion .sppb-person-social > li:last-child {
  margin: 0;
}
body.rtl .sppb-addon-persion .sppb-addon-content > div {
  text-align: right;
}
body.rtl .sppb-progress-bar {
  float: right;
}
body.rtl .macro-skils .sppb-progress:before {
  left: inherit;
  right: 20px;
}
body.rtl .macro-skils .progress-name {
  left: inherit;
  right: 65px;
  float: right !important;
}
body.rtl .macro-skils .progress-count {
  float: left !important;
}
body.rtl #timeline .timeline-movement .timeline-item .timeline-panel.left-part .title:after {
  right: inherit;
  left: -80px;
}
body.rtl #timeline .timeline-movement .timeline-item .timeline-panel.left-part {
  text-align: left;
  margin-right: 0;
  margin-left: 30px;
}
body.rtl #timeline .text-right {
  text-align: left;
}
body.rtl #timeline .timeline-movement .timeline-item .timeline-panel .title:after {
  left: inherit;
  right: -80px;
}
body.rtl .timeline-panel {
  margin-left: 0;
  margin-right: 30px;
}
body.rtl .service-page-feature .sppb-addon-text {
  text-align: center;
}
body.rtl .macro-accordion-wrapper h2.sppb-addon-title {
  text-align: right;
}
body.rtl .macro-accordion-wrapper .sppb-addon-accordion .sppb-panel-default .sppb-panel-heading:before {
  left: inherit;
  right: 0;
}
body.rtl .macro-accordion-wrapper .sppb-addon-accordion .sppb-panel-default .sppb-panel-heading span.sppb-panel-title {
  margin-left: 0;
  margin-right: 20px;
}
body.rtl .macro-tab-wrapper .sppb-nav-tabs > li {
  float: right;
}
body.rtl .macro-tab-wrapper .sppb-addon-tab .sppb-nav-tabs li {
  margin-right: 0;
  margin-left: 30px;
}
body.rtl .macro-tab-wrapper .sppb-addon-tab .sppb-tab-pane >div p {
  float: right;
  margin-right: 0;
  margin-left: 20px;
  padding-right: 0;
  padding-left: 20px;
}
body.rtl .popular-post .latestnews > div a {
  padding-left: 0;
  padding-right: 15px;
}
body.rtl .blog-categories h3.sp-module-title {
  padding-left: 0;
  padding-right: 25px;
}
body.rtl .popular-post h3.sp-module-title {
  padding-left: 0;
  padding-right: 25px;
}
body.rtl ul.pagination .fa-angle-left:before {
  content: "\f105";
}
body.rtl ul.pagination .fa-angle-right:before {
  content: "\f104";
}
body.rtl ul.pagination .fa-angle-double-left:before {
  content: "\f101";
}
body.rtl ul.pagination .fa-angle-double-right:before {
  content: "\f100";
}
body.rtl .scrollup {
  right: inherit;
  left: 100px;
}
@media (max-width: 768px) {
  body.rtl #offcanvas-toggler {
    margin-right: 0;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  body.rtl .macro-top-search .icon-top-wrapper {
    right: inherit;
    left: 10px;
  }
}
@media (max-width: 320px) {
  body.rtl .sp-simpleportfolio .sp-simpleportfolio-filter > ul {
    padding: 0 10px;
  }
  body.rtl ul.social-icons >li {
    margin-left: 0;
    text-align: right;
  }
  body.rtl .scrollup {
    left: 15px;
  }
}
